/* Start */

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
}

/* Variables */
:root {
	--clr-primary-800: #023d52;
	--clr-primary-900: #014152;

	--clr-accent-400: #daa177;

	--clr-neutral-100: #fff;
	--clr-neutral-200: #e2e2e2;
	--clr-neutral-500: #898d8e;
	--clr-neutral-900: #222;

	/* box shadow */
	--shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
	--shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* Global Styles */
html {
	background-color: var(--clr-primary-800);
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	font-family: 'Mulish', sans-serif;
	color: var(--clr-primary-900);
	font-weight: 400;
	line-height: 1.5;
}

.container {
	width: min(95vw, 400px);
	margin-inline: auto;
	margin-block: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.card {
	background-color: var(--clr-neutral-100);
	border-radius: 1rem;
	padding: 2rem;
}

h4,
h5 {
	margin: 0;
	margin-bottom: 1rem;
	font-weight: 700;
	line-height: 1.3;
	text-wrap: balance;
	text-transform: capitalize;
}

h4 {
	font-weight: 800;
	font-size: 1.563rem;
}

h5 {
	font-size: 1.25rem;
}

a {
	text-decoration: none;
	color: var(--clr-primary-900);
}

a:visited {
	color: var(--clr-primary-900);
}

.img {
	max-width: 100%;
	display: block;
	object-fit: cover;
}

.profile-container {
	text-align: center;
	margin-bottom: 1rem;
}

.profile-img {
	border-radius: 100%;
	width: 90px;
	height: 90px;
	margin-inline: auto;
	margin-bottom: 1rem;
}

.icon-tabler {
	stroke: var(--clr-neutral-500);
	width: 1.25rem;
}

fieldset {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	padding: 1.5rem;
	margin-block: 1.5rem;
	border-radius: 0.5rem;
	border: 1px solid var(--clr-neutral-200);
}

fieldset div {
	display: flex;
	gap: 1rem;
}

fieldset label {
	display: flex;
	width: 100%;
}

/* Buttons */
.btn-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.button-card {
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: 0.5rem;
	padding: 1rem;
}

.btn-container.vertical {
	flex-direction: column;
}

.btn {
	cursor: pointer;
	color: var(--clr-neutral-900);
	background: var(--clr-primary-500);
	border: 1px solid transparent;
	border-radius: 0.25rem;
	padding: 0.75rem 1.75rem;
	box-shadow: var(--shadow-1);
	transition: all 0.3s ease-in-out;
	text-transform: capitalize;
	display: inline-block;
	width: 100%;
}

.btn:hover {
	box-shadow: var(--shadow-3);
	letter-spacing: 2px;
}

.golden-btn {
	background-color: var(--clr-accent-400);
	color: var(--clr-neutral-100);
}

.naked-btn {
	background-color: var(--clr-neutral-100);
	color: var(--clr-accent-400);
	border: 1px solid var(--clr-neutral-200);
}

.cta-btn {
	background-color: var(--clr-neutral-100);
	border-color: var(--clr-neutral-200);
	color: var(--clr-neutral-500);
	padding: 0.325rem 0.75rem;
	font-size: 0.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.125rem;
	box-shadow: none;
}

.cta-btn span {
	display: flex;
}

.cta-btn:hover,
.cta-btn:focus {
	color: var(--clr-neutral-900);
	border-color: var(--clr-primary-900);
}

.cta-btn:hover .icon-tabler,
.cta-btn:focus .icon-tabler {
	stroke: var(--clr-primary-900);
}

/* Utility */

.fw-bold {
	font-weight: 700;
}

.ml-auto {
	margin-left: auto;
}

.opacity-50 {
	opacity: 0.5;
}

.td-underline {
	text-decoration: underline;
}

input[type='radio'] {
	display: none;
}

input[type='radio'] + label {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	display: inline-flex;
	line-height: 20px;
}

input[type='radio'] + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	border: 2px solid var(--clr-primary-900);
	border-radius: 50%;
	background-color: var(--clr-neutral-100);
}

input[type='radio']:checked + label:before {
	background-color: var(--clr-primary-900);
	border-color: var(--clr-primary-900);
}
